<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Mad Lids!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <h1></h1>
    <form action="/" method="post">
      <label for="Noun1">Noun</label>
      <input id="Noun1" name="Noun1" type="text">
      <label for="NounPlural">NounPlural</label>
      <input id="NounPlural" name="NounPlural" type="text">
      <label for="Noun2">Noun</label>
      <input id="Noun2" name="Noun2" type="text">
      <label for="Place">Place</label>
      <input id="Place" name="Place" type="text">
      <label for="Adjective">Adjective</label>
      <input id="Adjective" name="Adjective" type="text">
      <label for="Noun3">Noun</label>
      <input id="Noun3" name="Noun3" type="text">
    </form>
  </body>
</html>